<ion-view title="New Build">
  <ion-content padding="true" class="has-header">
    <div class="list card">
      <div class="item item-divider">Rank 1</div>
      <div class="item item-body">
        <button ng-repeat="job in jobs | rank1" class="button button-positive button-block" ui-sref="tab.build-skills({ rank: 1, job: job.name, circle: 1 })">{{ job.name }} <span class="ion-ios-star"></span><!--<span class="ion-ios-star" ng-repeat="circle in range(job.circles) track by $index"></span>--></button>
      </div>
    </div>
  </ion-content>
</ion-view>
