<ion-view title="New Build">
  <ion-content padding="false" class="has-header">
    <pre>{{testData}}</pre>
    <div class="builder" ng-if="isDataLoaded">

      <div class="heading">
        <div class="mid-heading">
          <h2>{{ header }}</h2>
          <h3>{{ initialClass }}</h3>

          <div class="skill-points" ng-if="!isNewBuild">
            Available Skill Points: <span>{{ skillPoints }}</span>
          </div>
        </div>
      </div>

      <div class="list">

        <div class="item item-divider">Rank {{ rankToSelect }}</div>

        <div class="row choose-class" ng-repeat="job in jobs" ng-if="$even">

          <div class="col col-50" ng-if="$index < jobs.length">
            <button class="button button-block not-really button-job" ng-click="classSelected(jobs[$index])">
              <!--  ui-sref="tab.build-skills({ rank: {{ rankToSelect }}, name: jobs[$index].name, circle: 1, initial: jobs[$index].name, classes: jobs[$index].name })" -->
              <i class="jicons jicons-{{ jobs[$index].name | spaceless }} job-icon"></i>
              <div>
                <span class="ion-ios-star job-circle">
                <span class="ion-ios-star job-circle" ng-if="jobs[$index].circle == 2"></span>
                <span class="ion-ios-star job-circle" ng-if="jobs[$index].circle == 3"></span>
              </div>
              <div class="job-name">{{ jobs[$index].name }}</div>
            </button>
          </div>

          <div class="col col-50" ng-if="$index + 1 < jobs.length">
            <button class="button button-block not-really button-job" ng-click="classSelected(jobs[$index + 1])">
              <!-- ui-sref="tab.build-skills({ rank: {{ rankToSelect }}, name: jobs[$index + 1].name, circle: 1, initial: jobs[$index + 1].name, classes: jobs[$index + 1].name })" -->
              <i class="jicons jicons-{{ jobs[$index + 1].name | spaceless }} job-icon"></i>
              <div>
                <span class="ion-ios-star job-circle">
                <span class="ion-ios-star job-circle" ng-if="jobs[$index + 1].circle == 2"></span>
                <span class="ion-ios-star job-circle" ng-if="jobs[$index + 1].circle == 3"></span>
              </div>
              <div class="job-name">{{ jobs[$index + 1].name }}</div>
            </button>
          </div>
        </div>

      </div>

    </div>
  </ion-content>
</ion-view>
