<i class="jicons jicons-c_archer_archer"></i>
<i class="jicons jicons-c_archer_cannoneer"></i>
<i class="jicons jicons-c_archer_falconer"></i>
<i class="jicons jicons-c_archer_fletcher"></i>
<i class="jicons jicons-c_archer_hunter"></i>
<i class="jicons jicons-c_archer_musketeer"></i>
<i class="jicons jicons-c_archer_quarrelshooter"></i>
<i class="jicons jicons-c_archer_ranger"></i>
<i class="jicons jicons-c_archer_rogue"></i>
<i class="jicons jicons-c_archer_sapper"></i>
<i class="jicons jicons-c_archer_schwarzereiter"></i>
<i class="jicons jicons-c_archer_scout"></i>
<i class="jicons jicons-c_archer_wugushi"></i>
<i class="jicons jicons-c_cleric_bokor"></i>
<i class="jicons jicons-c_cleric_chaplain"></i>
<i class="jicons jicons-c_cleric_cleric"></i>
<i class="jicons jicons-c_cleric_dievdirbys"></i>
<i class="jicons jicons-c_cleric_druid"></i>
<i class="jicons jicons-c_cleric_kabbalist"></i>
<i class="jicons jicons-c_cleric_krivis"></i>
<i class="jicons jicons-c_cleric_monk"></i>
<i class="jicons jicons-c_cleric_oracle"></i>
<i class="jicons jicons-c_cleric_paladin"></i>
<i class="jicons jicons-c_cleric_pardoner"></i>
<i class="jicons jicons-c_cleric_plague_doctor"></i>
<i class="jicons jicons-c_cleric_priest"></i>
<i class="jicons jicons-c_cleric_sadhu"></i>
<i class="jicons jicons-c_swordsman_barbarian"></i>
<i class="jicons jicons-c_swordsman_cataphract"></i>
<i class="jicons jicons-c_swordsman_corsair"></i>
<i class="jicons jicons-c_swordsman_doppelsoeldner"></i>
<i class="jicons jicons-c_swordsman_dragoon"></i>
<i class="jicons jicons-c_swordsman_fencer"></i>
<i class="jicons jicons-c_swordsman_highlander"></i>
<i class="jicons jicons-c_swordsman_hoplite"></i>
<i class="jicons jicons-c_swordsman_peltasta"></i>
<i class="jicons jicons-c_swordsman_rodelero"></i>
<i class="jicons jicons-c_swordsman_shinobi"></i>
<i class="jicons jicons-c_swordsman_squire"></i>
<i class="jicons jicons-c_swordsman_swordsman"></i>
<i class="jicons jicons-c_swordsman_templar"></i>
<i class="jicons jicons-c_wizard_alchemist"></i>
<i class="jicons jicons-c_wizard_chronomancer"></i>
<i class="jicons jicons-c_wizard_cryomancer"></i>
<i class="jicons jicons-c_wizard_elementalist"></i>
<i class="jicons jicons-c_wizard_featherfoot"></i>
<i class="jicons jicons-c_wizard_linker"></i>
<i class="jicons jicons-c_wizard_necromancer"></i>
<i class="jicons jicons-c_wizard_psychokino"></i>
<i class="jicons jicons-c_wizard_pyromancer"></i>
<i class="jicons jicons-c_wizard_runecaster"></i>
<i class="jicons jicons-c_wizard_sorcerer"></i>
<i class="jicons jicons-c_wizard_thaumaturge"></i>
<i class="jicons jicons-c_wizard_warlock"></i>
<i class="jicons jicons-c_wizard_wizard"></i>
