<ion-view title="Rank: {{ chosenJob.rank }} - Skills for {{ chosenJob.name }} ({{ chosenJob.circle }})">
  <ion-content padding="true" class="has-header">
    <ion-list>
      <ion-item class="item-divider">Circle 1</ion-item>
      <ion-item class="item-avatar item-icon-right balanced">
        <h2balanced>Thrust
          <p>Level: 0</p>
          <i class="icon ion-android-add-circle"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-avatar item-icon-right balanced">
        <h2balanced>Concentration
          <p>Level: 0</p>
          <i class="icon ion-android-add-circle"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-avatar item-icon-right balanced">
        <h2balanced>Gung Ho
          <p>Level: 0</p>
          <i class="icon ion-android-add-circle"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-avatar item-icon-right balanced">
        <h2balanced>Bash
          <p>Level: 0</p>
          <i class="icon ion-android-add-circle"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-avatar item-icon-right balanced">
        <h2balanced>Pain Barrier
          <p>Level: 0</p>
          <i class="icon ion-android-add-circle"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-divider">Circle 2</ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="item-avatar item-icon-right assertive">
        <h2assertive>Restrain
          <p>Level: 0</p>
          <i class="icon ion-android-add-circle"></i>
        </h2assertive>
      </ion-item>
      <ion-item class="item-avatar item-icon-right assertive">
        <h2assertive>Pommel Beat
          <p>Level: 0</p>
          <i class="icon ion-android-add-circle"></i>
        </h2assertive>
      </ion-item>
      <ion-item class="item-divider">Circle 3</ion-item>
      <ion-item class="item-avatar item-icon-right assertive">
        <h2assertive>Double Slash
          <p>Level: 0</p>
          <i class="icon ion-android-add-circle"></i>
        </h2assertive>
      </ion-item>
    </ion-list>
    <button id="rank1Swordsman-button5" class="button button-royal  button-block icon-left ion-android-attach">Add Attributes</button>

  </ion-content>
      <div class="bar bar-footer">
        <button ui-sref="tab.build({{ chosenJob }})" class="button button-clear button-dark pull-right">Done, go to Rank {{ chosenJob.rank * 1 + 1 }} <i class="icon-right ion-arrow-right-a"></i></a>
      </div>
    </div>
</ion-view>
